<!-- <ion-content>
  <div class="card" *ngFor="let course of displayedCourses">
    <h3>{{ course.courseName }}</h3>
    <p>{{ course.entity }}</p>
    <p>{{ course.period }}</p>
  </div>
  <ion-button (click)="loadMore()">Ver mais</ion-button>
</ion-content> -->

<ion-content>
  <ng-container >
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="toolbarMenu">
          <ion-title class="menuHeader">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="menuContent">opa</div>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="toolbarHeader">
          <ion-buttons slot="start">
            <ion-menu-button class="headerMenuBtn"></ion-menu-button>
          </ion-buttons>
          <ion-title>Perfil do Colaborador</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="mainContainer">
      <img class="bgImg" src="../../assets/bgImgTwo.jpeg" alt="" />
    </div>
    <div class="card">
      <div class="card-container">
        <img
          class="profilePictureImg"
          src="../../assets/marizaPicture.jpg"
          alt=""
        />
        <h1>{{employeeName}}</h1>
        <h2>{{jobName}}</h2>
      </div>
    </div>

     <div class="accordionContainer">
      <ion-accordion-group multiple="=" true>
        <ion-accordion
          class="accordionItem"
          value="first"
          toggleIconSlot="start"
          
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Dados de Identificação</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <h3>Admissão na empresa</h3>
            <p>{{companyAdmissionDate}}</p>

            <h3>Data de Nascimento</h3>
            <p>{{birthDate}}</p>

            <h3>Celular</h3>
            <p>{{cellphoneNumber}}</p>

            <h3>E-mail</h3>
            <p>{{email}}</p>
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="second"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Cursos</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <h3>Nome do Curso</h3>
            <p></p>

            <h3>Local</h3>
            <p></p>

            <h3>Período</h3>
            <p></p>
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="third"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Formação acadêmica</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
          >
          
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="fourth"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Idiomas</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
            
          >
            
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="fifth"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Histórico Profissional</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
            
          >
           
        
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div> 
  

    <ion-button expand="full">Ver mais</ion-button>
  </ng-container>
</ion-content>
    <!-- <div class="accordionContainer">
      <ion-accordion-group multiple="=" true>
        <ion-accordion
          class="accordionItem"
          value="first"
          toggleIconSlot="start"
          
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Dados de Identificação</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <h3>Admissão na empresa</h3>
            <p>{{companyAdmissionDate}}</p>
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="second"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Cursos</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="third"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Formação acadêmica</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
          >
          
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="fourth"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Idiomas</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
            
          >
            
          </div>
        </ion-accordion>

        <ion-accordion
          class="accordionItem"
          value="fifth"
          toggleIconSlot="start"
        >
          <ion-item slot="header" class="accordionContent">
            <ion-label>Histórico Profissional</ion-label>
          </ion-item>
          <div
            class="ion-padding"
            slot="content"
            
          >
           
        
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div> -->
  

