<ion-content>
  <ng-container>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="toolbarMenu">
          <ion-title class="menuHeader">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="menuContent">opa</div>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="toolbarHeader">
          <ion-buttons slot="start">
            <ion-menu-button class="headerMenuBtn"></ion-menu-button>
          </ion-buttons>
          <ion-title>Perfil do Colaborador</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="mainContainer">
      <img class="bgImg" src="../../assets/bgImgTwo.jpeg" alt="" />
    </div>
    <div class="card">
      <div class="card-container">
        <img
          class="profilePictureImg"
          src="../../assets/marizaPicture.jpg"
          alt=""
        />
        <h1>{{employeeName}}</h1>
        <h2>{{jobName}}</h2> 
      </div>
    </div>

    <ion-accordion-group class="accordionContainer" multiple="true">
      <ion-accordion
        value="{{i}}"
        class="accordionItem"
        *ngFor="let section of sections; let i = index;"
      >
        <ion-item slot="header" color="light" class="accordionContent">
          <ion-label>{{ section.name }}</ion-label>
        </ion-item>
        <ng-container *ngIf="section.name == 'Dados de identificação'">
          <div class="ion-padding" slot="content">
            <p>
              Nome: {{ section.cardItems[0].data?.employeeName || 'Sem
              informação' }}
            </p>
            <p>
              Cargo: {{ section.cardItems[0].data?.jobName || 'Sem informação'
              }}
            </p>
            <p>
              Data de Nascimento: {{ section.cardItems[0].data?.birthDate ||
              'Sem informação' }}
            </p>
            <p>
              Data de Admissão: {{
              section.cardItems[0].data?.companyAdmissionDate || 'Sem
              informação' }}
            </p>
            <p>
              Celular: {{ section.cardItems[0].data?.cellphoneNumber || 'Sem
              informação' }}
            </p>
            <p>
              Email: {{ section.cardItems[0].data?.email || 'Sem informação' }}
            </p>
          </div>
        </ng-container>

        <ng-container *ngIf="section.name == 'Cursos'">
          <div class="ion-padding" slot="content" *ngFor="let course of section.cardItems[0].data">
            <p>Curso: {{ course.courseName || 'N/A' }}</p>
            <p>Entidade: {{ course.entity || 'N/A' }}</p>
            <p>Período: {{ course.period || 'N/A' }}</p>
          </div>
        </ng-container>

        <ng-container *ngIf="section.name == 'Formação acadêmica'">
          <div class="ion-padding" slot="content" *ngFor="let education of section.cardItems[0].data">
            <p>Curso: {{ education.course || 'N/A' }}</p>
            <p>Nível de Educação: {{ education.educationLevel || 'N/A' }}</p>
            <p>Local: {{ education.local || 'N/A' }}</p>
            <p>Período: {{ education.period || 'N/A' }}</p>
          </div>
        </ng-container>

        <ng-container *ngIf="section.name == 'Idiomas'">
          <div class="ion-padding" slot="content" *ngFor="let language of section.cardItems[0].data">
            <p>Idioma: {{ language.language || 'N/A' }}</p>
              <p>Status: {{ language.status || 'N/A' }}</p>
              <p>Período: {{ language.period || 'N/A' }}</p>
          </div>
        </ng-container>

        <ng-container *ngIf="section.name == 'Histórico profissional'">
          <div class="ion-padding" slot="content" *ngFor="let jobContent of section.cardItems[0].data">
            <h3>Cargo</h3>
            <p>{{ jobContent.job || 'N/A' }}</p>
              <h3>Empresa</h3>
              <p>{{ jobContent.company || 'N/A' }}</p>
              <h3>Período</h3>
              <h3>{{ jobContent.period || 'N/A' }}</h3>
          </div>
        </ng-container>

      </ion-accordion>
    </ion-accordion-group>

    <div class="buttonContainer">
      <ion-button expand="full" (click)="seeMore()" >Ver mais</ion-button>
    </div>
  </ng-container>
</ion-content>
