ion-content {
  --background: rgb(227, 227, 227);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-header, ion-toolbar, ion-content {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
}
.ion-page {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que ocupe toda a altura disponível */
}
.mainContainer {
  background-color: rgb(227, 227, 227);
  padding-top: 45px;
}

.bgImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.card {
  background-color: rgb(240, 240, 240);
  // width: 100%;
  height: 17%;
  // border-radius: 10px;
  position: relative;
  margin: -5em 13px 0px 10px;
  border-radius: 5px;
  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      padding-top: 30px;
      color: black;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0px;
    }
    h2 {
      color: black;
      font-size: 1.2em;
      margin-bottom: 0px;
      margin-top: 5px;
    }
  }
}

.profilePictureImg {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
}