<ion-content>
  <ng-container *ngIf="!loading">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="toolbarMenu">
          <ion-title class="menuHeader" (click)="$event.stopPropagation()">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="menuContent">opa</div>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar class="toolbarHeader">
          <ion-buttons slot="start">
            <ion-menu-button class="headerMenuBtn"></ion-menu-button>
          </ion-buttons>
          <ion-title>Perfil do Colaborador</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="mainContainer">
      <img class="bgImg" src="../../assets/bgImgTwo.jpeg" alt="" />
    </div>
    <div class="card">
      <div class="card-container">
        <img
          class="profilePictureImg"
          src="../../assets/marizaPicture.jpg"
          alt=""
        />
        <h1>{{employeeName}}</h1>
        <h2>{{jobName}}</h2>
      </div>
    </div>
    <div class="buttonContainer">
      <ion-button (click)="goToProfile()">Perfil do Colaborador</ion-button>
      <ion-button>Atualizar App</ion-button>
    </div>
  </ng-container>
</ion-content>
